@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  background-color: #0d192b;
  color: #8bacda; }
  body p {
    font-size: 18px; }

.card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background-color: #14253d;
  margin: 15px; }
  .card .imagen {
    position: relative; }
    .card .imagen span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 255, 255, 0.5);
      position: absolute;
      z-index: 1;
      /*Para que este delante de la imagen al aparecer*/
      visibility: hidden;
      border-radius: 10px; }
    .card .imagen:hover {
      cursor: pointer; }
      .card .imagen:hover span {
        visibility: visible; }
    .card .imagen #card-image {
      border-radius: 10px;
      width: 100%; }
  .card .card-title {
    font-size: 1.3em;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px; }
    .card .card-title:hover {
      cursor: pointer;
      color: #00fff7; }
  .card .card-text {
    margin-bottom: 15px; }
  .card hr {
    border: 0 none black;
    border-top: 1px solid #2f415b; }
  .card .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
    .card .features .eth {
      color: #00fff7; }
    .card .features i {
      margin: 5px; }
  .card .autor {
    display: flex;
    align-items: center; }
    .card .autor img {
      margin: 10px 10px 10px 0;
      width: 30px;
      border: 2px solid white;
      border-radius: 50%; }
    .card .autor span span {
      color: white; }
      .card .autor span span:hover {
        cursor: pointer;
        color: #00fff7; }

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
