$primary-softblue : hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);

$neutral-mainBG: hsl(217, 54%, 11%);
$neutral-cardBG: hsl(216, 50%, 16%);
$neutral-line: hsl(215, 32%, 27%);
$neutral-white: hsl(0, 0%, 100%);



@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    p{
        font-size: 18px;
    }
    font-family: 'Outfit', sans-serif;
    background-color: $neutral-mainBG;
    color: $primary-softblue;
    
}



.card{
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: $neutral-cardBG;

    .imagen{
        position: relative;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 255, 255, 0.5);
            position: absolute;
            z-index: 1;             /*Para que este delante de la imagen al aparecer*/
            visibility: hidden;
            border-radius: 10px;
        }
        &:hover{
            cursor: pointer;
            span{
                visibility: visible;
            }
        }

        #card-image{
            border-radius: 10px;
            width: 100%;
        }
    }

    .card-title{
        font-size: 1.3em;
        font-weight: 600;   
        color: $neutral-white;
        margin-top: 15px;
        margin-bottom: 15px;
        &:hover{
            cursor: pointer;
            color: $primary-cyan;
        }
    }

    .card-text{
        margin-bottom: 15px;
    }

    hr{
        border: 0 none black;
        border-top: 1px solid $neutral-line;
    }

    .features{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        .eth{
            color: $primary-cyan;
        }
        margin-bottom: 15px;
        i{
            margin: 5px;
        }
    }
    
    

    .autor{
        display: flex;
        align-items: center;
        img{
            margin: 10px 10px 10px 0;
            width: 30px;
            border: 2px solid $neutral-white;
            border-radius: 50%;
        }
        span{
            span{
                color: $neutral-white;
                &:hover{
                    cursor: pointer;
                    color: $primary-cyan;
                }
            }
        }
    }

    margin: 15px;
}


.attribution {
    width: 100%;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }